

.rdw-inline-wrapper{
  display: none !important;
}
.rdw-block-wrapper{
  display: none !important;
}
.rdw-dropdown-wrapper{
  display: none !important;
}
.rdw-list-wrapper{
  display: none !important;
}
.rdw-text-align-wrapper{
  display: none !important;
}
.rdw-option-wrapper{
  display: none !important;
}
.rdw-editor-toolbar{
  justify-content: center !important;
}
